/* .grid {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .LeftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  
  .RightPanel {
    display: flex;
    border: 1px solid #ccc;
    margin-left: 5px;
    padding: 10px;
    background-color: #eee;
  } */

  .grid {
    display: grid;
    grid-template-columns: 25% 75%;
  
    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }
  
  .LeftPanel, .RightPanel {
    padding: 10px;
    background-color: #fff;
  
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  
  .LeftPanel {
    border: 1px solid #ccc;
  }
  
  .RightPanel {
    border: 1px solid #ccc;
    margin-left: 5px;
  }
  